*{outline:none !important}
body{
    opacity:0;
    text-align:center
}
.action{
    span{margin:1px 0 0 2px}
    position:fixed;
    right:5px; bottom:40px;
    width:50px; height:50px;
    border-radius:50px;
    padding:0;
    color:#EEE;
    background:#080;
    cursor:pointer;
    overflow:hidden;
    box-shadow:0 5px 10px #666;
}
/*
.row .container,.action{display:none}
*/
.info tr{
    th{text-align:right !important}
    td{text-align:left !important}
}
.list tr th{text-align:center !important}
.filter input:not(:last-child){margin-bottom:6px}
.maisInfo,.atualizar,.navbar-nav{cursor:pointer}
@media screen and (min-width:768px) {
    .navbar .nav,.navbar .nav>li{
        float:none;
        display:inline-block;
        vertical-align:top
    }
    .action{
        right:-15px; bottom:50px;
        width:80px; height:80px;
        span{margin:14px 0 0 2px}
        font-size:20px;
    }
}